@import url('https://fonts.googleapis.com/css?family=Lato');
@import url("../../../assets/styles/atlas/css/custom.css");

/*.tone2{
  margin-top: 1.5%;
}*/

.tone {
  background-color: lightgrey;
  padding-top: 13px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 1px;
}
