<p-table #dt 
         [columns]="cols"
         [value]="_tableRow"
         [scrollable]="_scrollable"
         [responsive]="responsive"
         [style]="{width:'100%'}"> <!--[paginator]="true" [rows]="10" [style]="{'overflow': 'inherit'}"-->
    <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
            <col *ngFor="let col of columns"
                 [ngStyle]="{ 
                    'width' : (col?.typeWidth) ? col?.typeWidth : '225px' 
                 }">
        </colgroup>
    </ng-template>
    <ng-template pTemplate="caption" *ngIf="enableGlobalFieldFilter">
        <div style="text-align: right">
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <input type="text" pInputText size="50" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns"> <!-- width="{{ (col.field == 'slNo') ? '65px' : '' }}" -->
                {{col.header}}
            </th>
        </tr>
        <tr *ngIf="enableLocalFieldFilter">
            <th [ngSwitch]="col?.filterType" *ngFor="let col of columns">
                <input [ngStyle]="{ 'width' : col?.filterWidth }" *ngSwitchCase="'input'" type="text" pInputText placeholder="{{ col?.filterPlaceholder }}" [(ngModel)]="searchParams[col.field]" (input)="filterLocally($event.target.value, col.field)">
                <!--[ngStyle]="{ 'width' : col?.typeWidth }"-->
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-i="rowIndex" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns">
                <span *ngIf="col.field == 'slNo'"> {{ i + 1 }} </span>
                <span *ngIf="col.field != 'slNo'" style="word-wrap: break-word;"> 
                    {{rowData[col.field]}}
                </span>
                <span *ngIf="col.field == 'action'" style="text-align:center; display:block">
                    <i *ngIf="actions?.edit" class="fa fa-edit" pTooltip="EDIT" tooltipPosition="top" (click)="edit(rowData)" style="margin:4px 4px 0 0; cursor : pointer;"></i>
                    <i *ngIf="actions?.delete" class="fa fa-trash" pTooltip="DELETE" tooltipPosition="top" (click)="delete(rowData)" style="margin:4px 4px 0 0; cursor : pointer;"></i>
                    <a *ngIf="actions?.view" class="aca-link" pTooltip="VIEW" tooltipPosition="top" (click)="view(rowData)" style="margin:o auto!important; width:60px!important; float:none!important">{{ actions?.view }}</a>
                </span>
            </td>
        </tr>
    </ng-template>
</p-table>