<div class="container">
    <div class="container-fluid">
        <app-data-table [cols]="columns" 
                        [values]="vesselData" 
                        [paginator]="false" 
                        [rows]="10"
                        [scrollable]="true"
                        [enableLocalFieldFilter]="true" 
                        [enableGlobalFieldFilter]="false" 
                        [sort]="true" 
                        [actions]="actions" 
                        (filterByField)="filter($event);">
                        <!-- 
                            (viewRow)="view($event);"
                            (editRow)="edit($event);"
                            (deleteRow)="deleteVessel($event);"
                        -->
        </app-data-table>
    </div>
</div>