<!--
<section class="header10 bk-img mbr-fullscreen mbr-parallax-background" id="header10-r">

  <div class="container" style="padding-left: 40%; font-size: 50px; padding-right: -15%;">
    <div class="media-container-column mbr-white col-lg-8 col-md-10 ml-auto">
      <h1 class="mbr-section-title align-right mbr-bold pb-3 mbr-fonts-style display-1">
        WELCOME
      </h1>
      <h3 class="mbr-section-subtitle align-right mbr-light pb-3 mbr-fonts-style display-2">
        Platform NG6
      </h3>
      <p class="mbr-text align-right pb-3 mbr-fonts-style display-5">
        Atlas Copco was established along with Andre O. Wallenberg, Johan W. Arnberg, Carl G. Cervin and Fredrik Didro. In its inauguration phase, Atlas dealt with the manufacturing, purchasing and selling of all types of material for railroad construction and operations.
      </p>
      <div class="mbr-section-btn align-right">
        &lt;!&ndash;<a class="btn btn-md btn-primary display-4" href="https://mobirise.com">LEARN MORE</a>&ndash;&gt;
        <a class="btn btn-md btn-white-outline display-4" routerLink="/error-grid">ERR STACK</a>
      </div>
    </div>
  </div>

  &lt;!&ndash;<div class="mbr-arrow hidden-sm-down" aria-hidden="true">
    <a>
      <i class="mbri-refresh mbr-iconfont"></i>
    </a>
  </div>&ndash;&gt;

</section>

 <div class="bk-img">
  <div class="jumbotron">
    <div class="container-fluid mt-5">
      <div class="container">
        <h1>Welcome!</h1>
        <h3>Platform - <b style="color: dodgerblue;">NG6</b></h3>
        <p>
          Atlas Copco was established along with Andre O.
          Wallenberg, Johan W. Arnberg, Carl G. Cervin and Fredrik Didro.
          In its inauguration phase, Atlas dealt with the manufacturing,
          purchasing and selling of all types of material for railroad construction and operations.
        </p>
        <p>
          <a class="btn btn-primary btn-lg" href="#" role="button" routerLink="/error-grid">ERR STACK</a>
        </p>
      </div>
    </div>
  </div>
</div>

<img src="../../../assets/img/atlascopco-dasboard.jpg" width="100%">
-->



<div class="ac-dashboard-wrap">
	<div class="ac-dashboard-content">
		<a href="#" class="trgClickAsia" routerLink="/pop-view"></a>
		<a href="#" class="trgClickError" routerLink="/error-grid"></a>
	</div>
</div>











