/*@import url("../../../../node_modules/bootstrap/dist/css/bootstrap.css");
@import url("../../../assets/styles/mobirise/wc-cssheet/bootstrap/css/bootstrap.min.css");
@import url("../../../assets/styles/mobirise/wc-cssheet/web/assets/mobirise-icons/mobirise-icons.css");
@import url("../../../assets/styles/mobirise/wc-cssheet/tether/tether.min.css");
@import url("../../../assets/styles/mobirise/wc-cssheet/bootstrap/css/bootstrap-grid.min.css");
@import url("../../../assets/styles/mobirise/wc-cssheet/bootstrap/css/bootstrap-reboot.min.css");
@import url("../../../assets/styles/mobirise/wc-cssheet/theme/css/style.css");
@import url("../../../assets/styles/mobirise/wc-cssheet/mobirise/css/mbr-additional.css");*/

/*.bk-img {
  background: url("../../../assets/styles/mobirise/wc-cssheet/images/background2.jpg");
  background-size: cover;
  height: 100%;
  padding-top: 6.5%;
  padding-bottom: 10.5%;
  }

.jumbotron{
  background-color: rgba(238, 238, 238, 0.46);
}

.hdr{
  background-color: indianred;
  background-size: cover;
}*/
