.video-home {
    margin-left: auto;
    margin-right: auto;
    margin-top: 6%;
    width: 48%;
}

.video {
    box-shadow: 1px 6px 10px 2px rgba(35, 35, 35, 0.62);
    height: 450px;
    max-height: 500px;
    width: 650px;
}