<div class="video-home">
  <div class="row">
    <div class="col-xs-12">
      <video #video class="video"></video>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-md btn-primary mr-2" (click)="startRecording()">
          <i class="fa fa-video-camera" aria-hidden="true"></i>
      </button>
      <button class="btn btn-md btn-primary mr-2" (click) ="stopRecording()">
          <i class="fa fa-stop" aria-hidden="true"></i>
      </button>
      <button class="btn btn-md btn-primary" (click)="download()">
          <i class="fa fa-download" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>